.footer{
      margin-bottom: 40px;

     
}

.footer-top{
 display: flex;
 justify-content: center;
 padding: 24px 0px;
gap: 24px;

width: 330px;
height: 72px;

/* Base/White */

background: #FFFFFF;

/* Inside auto layout */


}
.footer-top>a{
    width: 24px;
    height: 24px;
    margin-bottom: 0px;
}


/* footer bottom */

.footer-bottom{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 32px 0px 0px;
    gap: 16px;
    margin: 0 auto;
    /* width: 343px;
    height: 132px; */
    
    /* Gray/200 */
    
    border-top: 1px solid #EAECF0;
    
    /* Inside auto layout */
    
   
    flex-grow: 1;}
.footer-bottom>p{
    
    width: 213px;
height: 20px;

/* Text sm/Normal */

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */


/* Gray/500 */

color: #667085;


/* Inside auto layout */

}

@media screen and (min-width: 1440px){
    .footer{
        padding: 0px;
        gap: 24px;

        width: 1152px;
        height: 24px;

    }
    .footer-top{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 24px  0px;
            gap: 64px;
            width: 1152px;
            height: 72px;

            /* Base/White */

            background: #FFFFFF;



    }

    .footer-bottom{
        
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 48px 0px;
        gap: 64px;
        justify-content: space-around;
        
      
        width: 1152px;
        height: 160px;
       
        
        /* Base/White */
        
        background: #FFFFFF;

    }
}